@charset "utf-8";
body {
	background-image: url(back.jpg);
	background-repeat: repeat;
}
#tr1 {
	background-color: #0F6;
	text-align: center;
}
#tr2 {
	background-color: #6FC;
	vertical-align: middle;
	text-align: center;
}
#tr2 td {
	width: 100px;
}
#tr3 {
	background-color: #FFF;
	height: 30px;
	text-align: center;
	
}

#table2 {
	line-height: normal;
	text-align: center;
	white-space: nowrap;
	
}
#table1 {
}
